@font-face {
    font-family: 'bol';
    src: url("../fonts/Futura-Bol.ttf") format("truetype");
}

@font-face {
    font-family: "boo";
    src: url("../fonts/Futura-Boo.ttf") format("truetype");
}

@font-face {
    font-family: "med";
    src: url("../fonts/Futura-Med.ttf") format("truetype");
}

@font-face {
    font-family: "medObl";
    src: url("../fonts/Futura-MedObl.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section>*{
    opacity: 0.1;
    transform: translate(0, -20px);
    transition: all 1s;
}

.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

a {
    text-decoration: none;
}

h2 {
    font-size: 4vw;
    text-align: center;
    padding: 3vw;
    font-family: "bol";
    color: #4258d1;
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 10vw;
        padding: 8vw;
    }
}

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

nav {
    position: absolute;
    right: 2.5vw;
    top: 1.5vw;
    display: flex;
    justify-content: space-between;
}

nav a {
    display: inline-block;
    color: #fff;
    margin: 1vw;
    font-size: 2.2vw;
    font-family: "med";
    transition: all 400ms;
}

nav a:hover {
    color: #4d4dec;
}

@media screen and (max-width: 480px) {
    nav a{
        display: none;
    }
}

header div {
    text-align: center;
}

header img {
    width: 60vw;
}

header p {
    color: #fff;
    font-size: 3.5vw;
    font-family: "medObl";
}

.item-container1 {
    display: flex;
    padding: 0 12vw 4vw;
    justify-content: center;
}

.item-container2 {
    display: flex;
    padding: 0 12vw 4vw;
    justify-content: center;
    flex-direction: row-reverse;
}

.item {
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw auto;
}

.item img {
    width: 35vw;
    margin: auto 0;
}

.item p {
    font-size: 1.2vw;
    line-height: 2.2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family: "boo";
}

.item a {
    padding: 0.3vw 2.5vw;
    font-size: 1.5vw;
}

@media screen and (max-width: 480px){
    .item-container1 {
        display: flex;
        padding: 0 5vw 8vw;
        justify-content: center;
        flex-direction: column;
    }
    .item-container2 {
        display: flex;
        padding: 0 5vw 8vw;
        justify-content: center;
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    .item img {
        width: 100%;
    }

    .item p {
        padding-top: 3vw;
        padding-bottom: 3vw;
        font-size: 12px;
        line-height: 28px;
    }

    .item a {
        font-size: 16px;
    }
}

.button {
    color: #fff;
    margin: 1.9vw auto;
    border-radius: 0.7vw;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 1vw;
}

body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ 
    display: block; 
    vertical-align: bottom; 
}

#courses {
    position: relative;
}

#particles-js{ 
    position:absolute; 
    z-index: -1;
    width: 100%; height: 100%;
    background-color: #c2d3e3; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
} 

.container {
    display: flex;
    padding: 0 12vw 4vw;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card {
    width: 240px;
    height: 320px;
    margin: 15px 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
}

.card-img {
    margin: auto;
    height: 150px;
    display: flex;
    align-items: center;
}

.card img {
    width: 80px;
}

.card h3 {
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;
    font-family: 'Noto Sans JP';
}

.card a {
    padding: 8px 16px;
    font-size: 16px;
}

.slick-box {
    padding: 3vw 10vw;
}

.slick {
    width: 100%;
}

.slick-prev:before, .slick-next:before {
    color: #000;
    opacity: 0.8;
}

.slick-img {
    width: 100%;
}

.map {
    text-align: center;
    padding-bottom: 5vw;
}

footer p {
    text-align: center;
    font-size: 16px;
    line-height: 48px;
    color: #4258d1;
}

iframe {
    width: 600px;
    height: 450px;
}

@media screen and (max-width: 600px) {
    iframe {
        width: 100vw;
        height: 75vw;
    }
}
